version: '3.8'

services:

  db:
    image: postgres:17
    restart: always
    shm_size: 256mb
    secrets:
      - postgres_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data:


secrets:
  postgres_password:
    file: ./postgres_password.txt